@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
	/* Your default theme */
	--background: rgb(184, 182, 182);
	--foreground: black;
  }

  [data-theme='dark'] {
	--background: black;
	--foreground: white;
  }

body{
	letter-spacing: 0.1rem;
	font-family:'monospace';
	font-size: 16px;
}
.title{
	font-family: museo-sans;
	letter-spacing: 0.2rem;
}
.social-connect{
	float: right;
}
.mark-dark{
	background-color: inherit;
	color:aqua
}
.mark-light{
	background-color: inherit;
	color:#18e618;
}
.about-container{
	width: auto;
	margin: 60px;
}
.about-container p{
	font-style: italic;
}

@media (max-width:756px) {
	.about-container{
		width: 350px;
	}
}
@media (max-width:756px) {
	.about-main{
		margin-top: 10vh;
		justify-content: center;
		flex-wrap: wrap;
	}
}
.project-image{
	overflow: hidden;
	height: 300px;
}
.gitstats-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.intro-div{
	display: flex;
	justify-content: center;
	height: 400px;
}
